<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8" style="background: #eee;">
            <h2>Create new post</h2>
            <input type="text" name="title" />
        </div>
        <div class="span4" style="background: #342;"></div>
    </div>
</div>