<div class="row-fluid" ng-app="dashboard">
    <div class="span2">
        <ul class="nav nav-list">
            <li class="nav-header"><?php echo $this->translate('Posts'); ?></li>
            <li><a href="#create"><?php echo $this->translate('Create'); ?></a></li>
            <li><a href=""><?php echo $this->translate('Manage'); ?></a></li>
        </ul>
    </div>
    <div class="span10" ng-view></div>
</div>

<!-- styles -->
<?php echo $this->headLink()->appendStylesheet($this->websiteUrl . 'plugins/tblog/web/css/dashboard.css'); ?>

<!-- scripts -->
<?php echo $this->headScript()->appendFile('https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    ->appendFile($this->websiteUrl . 'plugins/tblog/web/js/dashboard/app.js')
    ->appendFile($this->websiteUrl . 'plugins/tblog/web/js/dashboard/controllers.js'); ?>
