<!-- Post module -->
<div id="tblog-post-module">
    <iframe id="tblog-post-module-inner" src="<?php echo $this->websiteUrl; ?>plugin/tblog/run/posts/" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>

<style type="text/css">
    div#tblog-post-module {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: #fff;
        height: 740px;
        width: 837px;
        box-shadow: 0 0 10px #ddd;
        -moz-box-shadow: 0 0 10px #ddd;
        -webkit-box-shadow: 0 0 10px #ddd
    }
    div#tblog-post-module iframe#tblog-post-module-inner {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none
    }
</style>


<script type="text/javascript">
    $(function() {
        if(self == top) {
            // toggle add / edit post screen
            var addEditBox = $('#tblog-post-module');

            // toggle compose box
            $(document).on('click', 'a.compose-toggle', function() {
                addEditBox.slideToggle();
            });

            $(document).on('click', '.tpost-edit-link', function(e) {
                e.preventDefault();
                $('#tblog-post-module-inner').attr({
                    src: '<?php echo $this->websiteUrl; ?>plugin/tblog/run/posts/' + $(e.currentTarget).attr('href')
                });
                addEditBox.slideToggle();
            });

            <!-- Tblog menu position in toaster admin panel -->
            <?php if(isset($this->blogMenuPosition) && $this->blogMenuPosition == 'replace'): ?>
                $('ul#cpanelul li:not(.plugin-tblog):first').replaceWith($('ul#cpanelul li.plugin-tblog'));
            <?php elseif(isset($this->blogMenuPosition) && $this->blogMenuPosition == 'ontop'): ?>
                $('ul#cpanelul li:not(.plugin-tblog):first').prepend($('ul#cpanelul li.plugin-tblog'));
            <?php endif; ?>
        }
    });
</script>