<?php echo $this->doctype();?>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="<?php echo $this->websiteUrl;?>plugins/tblog/web/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#"><?php echo ('' == $this->placeholder('screenTitle')) ? 'BLOG' : $this->placeholder('screenTitle') ; ?></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <?php echo $this->layout()->content; ?>
        </div>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="<?php echo $this->websiteUrl;?>plugins/tblog/web/js/bootstrap.min.js"></script>
    </body>
</html>