<div class="tblog-app-module" data-module="posts">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="#new" id="create-new-post"><?php echo $this->translate('Create new');?></a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#list" class="list-toggle"><?php echo $this->translate('Manage posts');?></a></li>
                    <li class="divider-vertical"></li>
                </ul>
                <a class="close pull-right compose-toggle" data-window-id="tblog-post-module" href="#">&times;</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <form action="javascript:;" data-success-msg="<?php echo $this->translate('Post saved');?>" id="frm-tblog-post" method="post">

                <div class="span3" id="post-image-upload-holder">
                    <img id="post-preview-image" src="http://placehold.it/170x120" alt="<?php echo $this->translate('Post preview image');?>" title="<?php echo $this->translate('Click to upload image');?>" />
                    <input type="hidden" id="teaser-image-path" />
                    <img id="teaser-upload-progress" src="<?php echo $this->websiteUrl; ?>plugins/tblog/web/img/spinner.gif" />
                </div>

                <input id="frm-inp-tblog-title" data-property="title" type="text" placeholder="Post title..." class="span9 tblog-required" required autofocus />
                <textarea data-property="teaser" placeholder="Post teaser..." class="span9" id="frm-ta-tblog-teaser"></textarea>

                <div class="row-fluid">

                    <div class="span9">
                        <textarea placeholder="Post content..." id="frm-ta-tblog-content"></textarea>
                    </div>

                    <div id="tblog-image-picker" class="span3 text-center">

                        <select id="tblog-pick-a-folder" class="span11">
                            <option><?php echo $this->translate('Pick a folder'); ?></option>
                        </select>

                        <div id="tblog-accordion" class="text-left">
                            <h3><?php echo $this->translate('Small'); ?></h3>
                            <div class="tablog-accordion-content-holder" data-size="small"><span class="label"><?php echo $this->translate('Please, select a folder first'); ?></span></div>
                            <h3><?php echo $this->translate('Medium'); ?></h3>
                            <div class="tablog-accordion-content-holder" data-size="medium"><?php echo $this->translate('Please, select a folder first'); ?></div>
                            <h3><?php echo $this->translate('Large'); ?></h3>
                            <div class="tablog-accordion-content-holder" data-size="large"><?php echo $this->translate('Please, select a folder first'); ?></div>
                            <h3><?php echo $this->translate('Files'); ?></h3>
                            <div class="tablog-accordion-content-holder-files"><?php echo $this->translate('Please, select a folder first'); ?></div>
                        </div>

                    </div>

                </div>

                <div class="controls controls-row">
                    <input data-property="tags" id="frm-inp-tblog-tags" type="text" placeholder="Post tags..." class="span9" />
                    <button class="span3 btn btn-inverse pull-right" id="save-post">I'm done!</button>
                </div>

            </form>
        </div>
    </div>
    <input type="hidden" id="website_url" value="<?php echo $this->websiteUrl; ?>" />

    <!--  manage posts screen holder  -->
    <div id="mange-posts-holder" class="container-fluid" data-delete-confirm="<?php echo $this->translate('You are going to remover one of your posts! Are you sure?'); ?>">
        <div class="navbar navbar-fixed-top" style="position: absolute;">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="close pull-right list-toggle" data-window-id="mange-posts-holder" href="#">&times;</a>
                </div>
            </div>
        </div>
        <ul class="thumbnails">

        </ul>
    </div>
</div>

<!-- posts list item template -->
<script type="text/template" id="post-item-template">
    <div class="thumbnail">
        <% if(_.isNull(post.teaserImage) || !post.teaserImage) { %>
            <img src="http://placehold.it/170x120" style="width: 170px; height: 120px;" />
        <% } else { %>
            <img src="<?php echo $this->websiteUrl; ?>previews/<%= post.teaserImage %>" style="width: 170px; height: 120px;" />
        <% } %>
        <div class="caption">
            <h5><%= post.title %></h5>
            <p><a href="#edit/<%= post.id %>" class="btn btn-mini btn-primary edit-post">Edit</a> <a href="javascript:;" class="btn btn-mini btn-danger">Delete</a></p>
        </div>
    </div>
</script>

<link rel="stylesheet" type="text/css" href="<?php echo $this->websiteUrl; ?>plugins/tblog/web/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->websiteUrl;?>system/js/external/smoke/smoke.css">

<style type="text/css">
    .smoke-base .dialog {top: 40px;}
    .tblog-app-module {margin-top: 40px}
    .tblog-app-module div#mange-posts-holder {
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
    }
    .tblog-app-module div#mange-posts-holder ul.thumbnails {
        margin-top: 60px;
    }
    .tblog-app-module .btn {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    /* post teaser image and holder */
    .tblog-app-module #post-preview-image {
        cursor: pointer;
        max-width: 170px;
        max-height: 120px;
    }
    .tblog-app-module #post-image-upload-holder {position: relative}
    .tblog-app-module #teaser-upload-progress {
        display: none;
        position: absolute;
        top: 40px;
        left: 65px;
    }
    .tblog-app-module form {margin: 7px 0 0 0}
    .tblog-app-module form input[type=text],
    .tblog-app-module form textarea {
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        box-shadow: none;
        font-size: 12px;
        color: #444
    }
    .tblog-app-module form textarea {resize: none}
    .tblog-app-module textarea#frm-ta-tblog-teaser {height: 80px}
    .tblog-app-module textarea#frm-ta-tblog-content {
        height: 450px;
    }
    .tblog-app-module #create-post {
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .tblog-app-module .controls-row {margin-top: 15px}
    .tblog-app-module .tblog-required:after {
        content: '*';
        color: #f00;
    }
    .tblog-app-module #tblog-image-picker {
        border: 1px solid #ddd;
        height: 494px;
    }
    .tblog-app-module .cke_button__source_label {display: none}
    .tblog-app-module #tblog-accordion h3 {
        padding: 0 5px;
        font-size: 10pt;
        margin: 0;
        background: #eee;
        border: none;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        line-height: 30px;
    }
    .tblog-app-module #tblog-accordion h3:hover {background: #ddd}
    .tblog-app-module #tblog-pick-a-folder {
        border: 1px solid #ddd;
        margin-top: 10px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .tblog-app-module .tblog-media-thumbnail {margin-right: 5px}
    .tblog-app-module .tblog-media-file {padding: 0 0 3px 0}
    .tblog-app-module .ui-accordion .ui-accordion-content {padding: 10px 5px}
    .tblog-app-module .ui-accordion-content-active:last-child {
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .tblog-app-module a.close {margin-top: 10px}
</style>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>plugins/tblog/web/js/libs/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/plupload/plupload.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/plupload/plupload.html5.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/plupload/plupload.html4.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/plupload/plupload.flash.js"></script>

<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/smoke/smoke.min.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/external/jquery/plugins/cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="<?php echo $this->websiteUrl; ?>system/js/internal/system.js"></script>


<script type="text/javascript" data-main="<?php echo $this->websiteUrl; ?>plugins/tblog/web/js/app/bootstrap" src="<?php echo $this->websiteUrl; ?>plugins/tblog/web/js/libs/require/require.min.js"></script>
